MONGODB_URI={{ mongodb_uri }}
JWT_SECRET_STRING={{ jwt_secret }}
JWT_EXPIRES_IN={{ jwt_expires_in }}
SMTP_HOST={{ smtp_host }}
SMTP_PORT={{ smtp_port }}
SMTP_USER={{ smtp_user }}
SMTP_PASSWORD={{ smtp_password }}
CLIENT_URL={{ client_url }}
